// ========================================================================================================================================================
// Menu
.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			width: 100%;
			height: 100%;
			left: -100%;
			top: 0;
			overflow: auto;
			padding: toRem(120) toRem(15) toRem(15) toRem(15);
			transition: left 0.3s;
			background-color: $bgColor;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: toRem(100);
				left: -100%;
				top: 0;
				transition: left 0.3s;
				z-index: 2;
				background-color: rgba(#2563eb, 0.15);
				border-bottom: toRem(1) solid rgba($mainColor, 0.3);
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
		@media (max-width: $mobileSmall) {
			padding: toRem(100) toRem(15) toRem(15) toRem(15);
			&::before {
				height: toRem(80);
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		gap: toRem(25);
		@media (max-width: toEm(1029.98)) {
			gap: toRem(15);
		}
		@media (max-width: $mobile) {
			flex-direction: column;
			&:not(:last-child) {
				margin-bottom: toRem(30);
			}
		}
	}
	// .menu__item
	&__item {
		position: relative;
		@media (min-width: $mobile) {
			&::before {
				left: 0;
				width: 0;
				right: 0;
				bottom: 0;
				content: "";
				margin: 0 auto;
				height: toRem(2);
				position: absolute;
				border-radius: toRem(10);
				transition: width 0.3s ease 0s;
				background: linear-gradient(-91deg, #2563eb 0%, #d946ef 100%);
			}
			@media (any-hover: hover) {
				&:hover {
					&::before {
						width: 70%;
					}
				}
			}
		}
	}
	// .menu__link
	&__link {
		padding: toRem(8) toRem(0);
		@media (max-width: toEm(1029.98)) {
			font-size: toRem(15);
		}
		@media (max-width: $mobile) {
			width: 100%;
			font-size: toRem(20);
		}
	}
}

//Burger Icon
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			border-radius: toRem(10);
			background-color: rgba($mainColor, 0.8);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
// ========================================================================================================================================================
